<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform 
		processPath="%JAVA_HOME%\bin\java.exe" 
		arguments="-cp d:\websites\wiremock-transformer\wiremock-standalone-2.25.1.jar;d:\websites\wiremock-transformer\libs\*; com.github.tomakehurst.wiremock.standalone.WireMockServerRunner --local-response-templating --verbose --extensions com.opentable.extension.BodyTransformer --root-dir d:\websites\wiremock-transformer --port %HTTP_PLATFORM_PORT%" 
		stdoutLogEnabled="true" 
		stdoutLogFile="\\?\d:\Logs\web\wiremock-transformer.log">
      <environmentVariables>
        <environmentVariable name="wmdir_HOME" value="d:\websites\wiremock-transformer" />
      </environmentVariables>
    </httpPlatform>	
  </system.webServer>
</configuration>